<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            
        <title>Page Title</title>

        <script src="https://code.jquery.com/jquery-3.2.1.js"
                integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
                crossorigin="anonymous"></script>
        
        <link rel="stylesheet/less" href="styles/styles.css">
        <link rel="stylesheet" href="styles/bootstrap.css">

        <script src="scripts/less.js"></script>
    </head>

    <body id="body">
        <nav>
            <div class="holder">
                <a class="btn btn-primary" data-toggle="collapse" href="#paintExample" role="button" aria-expanded="false" aria-controls="collapseExample">paint</a>
                <a class="btn btn-danger" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">drag/drop</a>
                <a class="btn btn-light" data-toggle="collapse" href="#dataExample" role="button" aria-expanded="false" aria-controls="collapseExample">data</a>
                <a href="javascript:;" onclick="new App().setNav()" id="adder">+add</a>
                <a href="javascript:;" id="nameSetter">set-name</a>
                <div class="names"></div>
            </div>
        </nav>
<!--drawing -->
        <div class="drawing-container collapse" id="paintExample">
            <a href="javascript:;" onclick="new App().clearDrawing()">Clear drawing</a>
            <a href="javascript:;" onclick="new App().draw()">Draw</a>
            <canvas width="600" height="200" id="canvas"></canvas>
        </div>
<!--end drawing -->
<!--drag/drop -->
        <div class="drag-resize-drop collapse" id="collapseExample">
            <div id="droparea" ondragover="dragOver(event)" ondrop="drop(event)">
                <div draggable="true" ondragstart="drag(event)" id="diff">ABOVE<div class="inner">INNER</div>BOTTOM</div>
            </div>
            <div id="dropareaB" ondragover="dragOver(event)" ondrop="drop(event)"></div>
            <div class="clear"></div>
        </div>
<!--drag/drop-->
<!--data handling-->
        <div class="col-md-6
                    offset-md-3
                    card collapse show obj" id="dataExample">
            <div>
                <div v-for="(sport, index) in big">
                    {{i18n[sport.info.key]}}
                    {{sport.info.title}}
                    <div class="123" v-for="(markets, ind) in sport.data">
                        {{markets.info.market_title}}
                        <div v-for="(market, i) in markets.data">
                            {{market.info.date_title}}
                            <div v-for="(team, i) in market.data">
                                <div :class="favorite">
                                    <span class="home">{{team.info.home_team}}</span> vs <span class="away">{{team.info.away_team}}</span>
                                </div>
                                <a v-for="(odd, i) in team.data" class="btn btn-dark" href="javascript:void(0)">{{odd.info.display_odd}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--data handling-->
        <div id="clock"></div>
        <script src="scripts/classNav.js"></script>
        <script src="scripts/vue.js" defer></script>
        <script src="scripts/app.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="scripts/bootstrap.js" defer></script>
    </body>
</html>